.bc_zaps{
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid;
    background: #151515;
    color: white;
    &.collapsed{
        height: 30px;
    }
    button{
        cursor: pointer;
        float: right;
        background: none;
        color: white;
        font-size: 14px;
        border: none;
    }
}