@import '../theme/colors';
.bcdroplink{
    &.dropdown{
        display: inline;
        .btn.dropdown-toggle{
            font-size: 22px;
        }
        .dropdown-menu a{
            cursor: pointer;
        }
        i{
            display: inline-block;
            min-width: 20px;
        }
    }
}
.droplink-float-right{
    .dropdown-menu{
        right: 0;
        left: inherit;
    }
}